@model FineData.Models.PersonCar

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>Index</h1>
    <h5>Here you can load the batch of data from a csv file</h5>
    <form method="post" asp-controller="FineInsert" asp-action="ImportPeople"
          enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit" name="Upload">Upload People</button>
    </form>
    <hr />
    <form method="post" asp-controller="FineInsert" asp-action="ImportCars"
          enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit" name="Upload">Upload Cars</button>
    </form>
</div>


